html, body{
    min-height:100%;
}

body{
    background-color: #1ea4d3;
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    flex-wrap:wrap;
  }
  img{
    display:block;
    width:80%;
    margin:0 auto;
    height: auto;
  }
  
  @media screen and (max-width:1000px){
    img{ width:100%; }
  }

  a{
      width:100%;
      display:block;
      text-align:center;
      color: #aeff00;
  }
  h1{
      text-align:center;
      width:100%;
      color: #aeff00;
  }